/* @media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){
	
} */
@media screen and (max-width: 1023px){
.wap_nav {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 7777;
}
.wap_nav .logo {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}
.wap_nav .logo img{height: 24px;margin-top: 13px;margin-left: 10px;}


.pc{
    display: none;
}
.wap{
    display: block;
}


.index .content1 .infor1{
    
font-size: calc(12/768*100vw);
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #FFFFFF;
    
padding-top: calc(21/768*100vw);
    
padding-left: calc(37/768*100vw);
}
.index .content1 .infor1 p{
    
padding-bottom: calc(8/768*100vw);
}
.index .content1 .logo{
    
position: absolute;
    
top: calc(10/768*100vw);
}
.index .content1 .logo img{
    
width: calc(180/768*350vw);
}
.index .content1 .copy{
    
top: calc(21/768*100vw);
    
right: calc(33/768*100vw);
    
font-size: calc(12/768*100vw);
}
.index .content1 .ewm{
    
left: calc(51/768*100vw);
    
bottom: calc(18/768*100vw);
}
.index .content1 .ewm .imgbox{
    
text-align: center;
    
float: left;
}
.index .content1 .ewm .imgbox img{
    
width: calc(144/768*100vw);
}
.index .content1 .ewm .imgbox .title{
    
font-size: calc(12/768*100vw);
    
padding-top: calc(7/768*100vw);
}
.index .content1 .ewm .telval{
    
float: left;
    
padding-left: calc(45/768*100vw);
    
padding-top: calc(105/768*100vw);
}
.index .content1 .ewm .telval p{
    
font-size: calc(14/768*100vw);
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #FFFFFF;
    
padding-left: calc(30/768*100vw);
    
padding-top: calc(1/768*100vw);
    
background: url(../images/tel.png) no-repeat left bottom;
    
height: calc(20/768*100vw);
    
background-size: auto 100%;
}
.index .content1 .ewm .telval strong{
    
font-size: calc(18/768*100vw);
    
font-family: Arial;
    
font-weight: bold;
    
color: #FFFFFF;
    
display: block;
    
margin-top: calc(16/768*100vw);
}
.index .content1 .btn{
    width: calc(180/768*100vw);
    height: calc(60/768*100vw);
    position: absolute;
    right: calc(41/768*100vw);
    bottom: calc(35/768*100vw);
    cursor: pointer;
    border: none;
    font-size: calc(18/768*100vw);
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #0063B2;
    background: #eaeaea;
}

.index .floating .imgbox .img{
background-size:auto 68vh !important;}











.bottomMenu{height: auto;padding-top: calc(41/768*100vw);padding-bottom: calc(82/768*100vw);}
.bottomMenu .content{
    
}
.bottomMenu .content .close{
    
width: calc(35/768*100vw);
    
height: calc(35/768*100vw);
    
background-size: 100%;
    
top: calc(24/768*100vw);
    
right: calc(25/768*100vw);
}
.bottomMenu .content .title{
    
font-size: calc(24/768*100vw);
    
padding-top: 0;
    
padding-bottom: calc(34/768*100vw);
}
.bottomMenu .content .center{
    
width: calc(404/768*100vw);
    
max-width: 100%;
}
.bottomMenu .content .valWrap{
    
margin-bottom: calc(17/768*100vw);
}
.bottomMenu .content .val{
    
height: calc(56/768*100vw);
    
font-size: calc(24/768*100vw);
}
.bottomMenu .content .list{

}
.bottomMenu .content .list li:nth-child(4n){

}
.bottomMenu .content .list li{

margin-right: 3px;

/* height: 89px; */

/* background: #FFFFFF; */

margin-bottom: 3px;

width: calc((100% - 9px)/4);
}
.bottomMenu .content .list li .num:active{

}
.bottomMenu .content .list li .num{
    height: calc(56/768*100vw);
    font-size: calc(24/768*100vw);
}
.bottomMenu .content .list li.type1{width: calc((200% - 6px)/4);}
.bottomMenu .content .list li.last{

}



.alertModel .center .icon img{
height:  calc(131/768*100vw);
}
.alertModel .center .title{
font-size:  calc(31/768*100vw);
padding-top:  calc(36/768*100vw);
}
.alertModel .center .title p{
line-height: calc(41/768*100vw);
}



/* video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-webkit-media-controls-play-button {
  display: none;
}

video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-time-remaining-display {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  display: none;
}

video::-webkit-media-controls-volume-slider {
  display: none;
} */



















}